:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "counter hider randomWord"
        "footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#header img {
    float: left;
    width: 20px;
    height: 20px;
    background: none;
}

h1 {
    display: block;
    font-family: inherit;
    text-decoration: none;
    margin: 1rem;
}

#header{
    margin: 1rem;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#counter {
    background: #6fffd2;
    grid-area: counter;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#hider {
    background: #64ffda;
    grid-area: hider;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#randomWord {
    background: #73ffba;
    grid-area: randomWord;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

button {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
}

p {
    display: block;
    font-family: inherit;
    text-decoration: none;
    margin: 1rem;
}
